// app global css in SCSS form

.bg-category-2 {
  background-color: #89bd40;
}
.bg-category-3 {
  background-color: #27b9cc;
}
.bg-category-4 {
  background-color: #c46c29;
}
.bg-category-5 {
  background-color: #953c96;
}
.bg-category-6 {
  background-color: #6eb197;
}
.bg-category-7 {
  background-color: #e3402d;
}
.bg-category-9 {
  background-color: #c92045;
}
.bg-category-10 {
  background-color: #895ea6;
}
.bg-category-11 {
  background-color: #c48a2b;
}
.bg-category-12 {
  background-color: #bf569e;
}
.bg-category-13 {
  background-color: #915aa3;
}
.bg-category-14 {
  background-color: #4e7872;
}
.bg-category-15 {
  background-color: #cc292c;
}
.bg-category-21 {
  background-color: #63a89f;
}
.bg-category-121 {
  background-color: #eb4997;
}
.bg-category-141 {
  background-color: #7dbb7f;
}
.bg-category-142 {
  background-color: #ed3e64;
}
.bg-category-143 {
  background-color: #2577ba;
}
.bg-category-161 {
  background-color: #34bfc2;
}
.bg-category-162 {
  background-color: #faaf19;
}
.bg-category-181 {
  background-color: #5d95cb;
}
.bg-category-201 {
  background-color: #b55e61;
}
.bg-category-202 {
  background-color: #6274a3;
}
.bg-category-203 {
  background-color: #9c9835;
}
.bg-category-204 {
  background-color: #855e45;
}
.bg-category-321 {
  background-color: #666666;
}
